<?xml version="1.0"?>
<!--
/**
 * Copyright © Pronko Consulting (https://www.pronkoconsulting.com)
 * See LICENSE for the license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="pronko_liqpay" xsi:type="const">Pronko\LiqPayApi\Api\Data\PaymentMethodCodeInterface::CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="pronko_liqpay_config_provider" xsi:type="object">Pronko\LiqPayCheckout\Model\DefaultConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- LiqPay Payment Configuration -->
    <virtualType name="PronkoLiqPayPaymentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Pronko\LiqPayApi\Api\Data\PaymentMethodCodeInterface::CODE</argument>
        </arguments>
    </virtualType>
    <type name="Pronko\LiqPayCheckout\Model\DefaultConfigProvider">
        <arguments>
            <argument name="config" xsi:type="object">PronkoLiqPayPaymentConfig</argument>
        </arguments>
    </type>
</config>
