<?xml version="1.0"?>
<!--
/**
 * Copyright © Pronko Consulting (https://www.pronkoconsulting.com)
 * See LICENSE for the license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="pronko_liqpay_section" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <group id="pronko_liqpay" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>LiqPay</label>
                    <fieldset_css>complex</fieldset_css>
                    <attribute type="displayIn">other_payment_methods</attribute>
                    <group id="pronko_liqpay_general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
                        <label>General Settings</label>
                        <attribute type="expanded">1</attribute>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Enabled this Solution</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/pronko_liqpay/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/pronko_liqpay/title</config_path>
                        </field>
                        <field id="mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Mode</label>
                            <source_model>Pronko\LiqPayAdmin\Source\Environment</source_model>
                            <config_path>payment/pronko_liqpay/mode</config_path>
                        </field>
                        <field id="connection_type" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Connection Type</label>
                            <source_model>Pronko\LiqPayAdmin\Source\ConnectionType</source_model>
                            <config_path>payment/pronko_liqpay/connection_type</config_path>
                        </field>
                    </group>
                    <group id="pronko_liqpay_account" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
                        <label>Account Settings</label>
                        <attribute type="expanded">0</attribute>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="heading_sandbox_account_settings" translate="label" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sandbox Credentials</label>
                            <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                            <attribute type="shared">1</attribute>
                        </field>
                        <field id="sandbox_public_key" translate="label" type="text" sortOrder="175" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Public Key</label>
                            <config_path>payment/pronko_liqpay/sandbox_public_key</config_path>
                        </field>
                        <field id="sandbox_private_key" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Private Key</label>
                            <config_path>payment/pronko_liqpay/sandbox_private_key</config_path>
                        </field>
                        <field id="heading_production_account_settings" translate="label" sortOrder="185" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Production Credentials</label>
                            <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                            <attribute type="shared">2</attribute>
                        </field>
                        <field id="production_public_key" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Public Key</label>
                            <config_path>payment/pronko_liqpay/production_public_key</config_path>
                        </field>
                        <field id="production_private_key" translate="label" type="text" sortOrder="195" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Private Key</label>
                            <config_path>payment/pronko_liqpay/production_private_key</config_path>
                        </field>
                    </group>
                    <group id="pronko_liqpay_advanced_settings" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
                        <label>Advanced Settings</label>
                        <attribute type="expanded">0</attribute>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="order_prefix" translate="label" type="text" sortOrder="175" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Order Prefix</label>
                            <config_path>payment/pronko_liqpay/order_prefix</config_path>
                        </field>
                        <field id="order_suffix" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Order Suffix</label>
                            <config_path>payment/pronko_liqpay/order_suffix</config_path>
                        </field>
                    </group>
                 </group>
            </group>
        </section>
    </system>
</config>
