<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="pronko_liqpay_section" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <group id="pronko_liqpay" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>LiqPay</label>
                    <fieldset_css>complex</fieldset_css>
                    <group id="pronko_liqpay_card_payment" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
                        <label>Card Payment</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="cctypes" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Credit Card Types</label>
                            <source_model>Pronko\LiqPayCardAdmin\Model\Source\Cctype</source_model>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>