<?xml version="1.0"?>
<!--
/**
 * Copyright © Pronko Consulting (https://www.pronkoconsulting.com)
 * See LICENSE for the license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pronko_liqpay>
                <title>LiqPay</title>
                <active>1</active>
                <payment_action>authorize_capture</payment_action>
                <allowed_currencies>USD,UAH,RUB,EUR</allowed_currencies>
                <model>PronkoLiqPayAdapter</model>
                <connection_type>built_in_form</connection_type>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <debug>1</debug>
            </pronko_liqpay>
        </payment>
    </default>
</config>
