<?xml version="1.0"?>
<!--
/**
 * Copyright © Pronko Consulting (https://www.pronkoconsulting.com)
 * See LICENSE for the license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_pronko_liqpay">
        <observer name="pronko_liqpay_data_assign" instance="Pronko\LiqPayCardGateway\Observer\DataAssignObserver" />
    </event>
</config>
